.card {
    width: 600px;
    max-width: 85vw;
    padding: 20px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 9px 31px 0 rgb(0, 0, 0,0.1);
}

.card__container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    position: relative;
}
.swipe {
    position: absolute;
}
h3 {
    color: #fff;
    position: absolute;
    bottom:30px;
}