.card {
    width: 600px;
    max-width: 85vw;
    padding: 20px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 18px 53px 0 rgb(0, 0, 0,0.3);
}

.card__container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.swipe {
    position: absolute;
}